<template>
    <section class="relative mx-auto mt-10">
      <div class="relative">
        <img
          src="../../assets/Images/beach.png"
          alt="Beach Image"
          class="w-full h-[280px] object-cover rounded-lg"
        />
        <div
          class="absolute top-0 left-0 bg-black bg-opacity-20 w-full h-[280px] rounded-lg"
        ></div>
      </div>

      <div
        class="absolute top-16 left-16 text-start text-white space-y-6"
      >
        <h2 class="text-2xl font-bold w-[540px]">
          Download the mobile application for bonus coupons and travel codes
        </h2>
        <button class="text-sm p-3 rounded-md font-medium bg-light-blue">
          Download Mobile App
        </button>
      </div>
      <div>
        <img
          src="../../assets/Images/hand-with-smartphone.png"
          alt="Smartphone"
          class="absolute top-0 -right-10 bg-opacity-95"
        />
      </div>
    </section>
</template>

<script setup>

</script>