<template>
  <!-- Main Checkout Section -->
  <main class="container mx-auto pb-20">
    <!-- Checkout Title -->
    <h1
      class="flex justify-start font-semibold text-light-black text-[32px] pt-[60px]"
    >
      Secure your reservation
    </h1>

    <!-- Alert Message Component -->
    <AlertMessage class="mt-[30px]" />

    <!-- Checkout Content -->
    <div class="flex justify-between gap-7 w-auto">
      <!-- Left Section with User Info, Payment, and Booking Info Cards -->
      <div>
        <!-- User Information Card Component -->
        <UserInfoCard />

        <!-- Payment Card Component -->
        <PaymentCard />

        <!-- Booking Information Card Component -->
        <BaseModal :modal-active="modalActive">
          <div
            class="sticky mx-auto w-[240px] h-[200px] bg-center mb-[45px]"
            :style="{
              backgroundImage: 'url(' + getImagePath('Rectangle 22.png') + ')',
            }"
          >
            <img
              src="../../assets/Images/successful.png"
              alt="Successful Icon"
              class="absolute right-10 top-5"
            />
          </div>
          <div class="flex flex-col justify-center text-center mt-11">
            <h1 class="text-[20] font-semibold text-light-black">
              Booking Successful
            </h1>
            <p class="p-3 font-normal text-base text-gray">
              Congratulations your reservation has been made.<br />
              You will be notified 2 days prior the date.
            </p>
          </div>
          <button
            class="text-white mt-6 bg-light-blue w-full py-3 px-4 rounded-[6px]"
            @click="saveTripToLocalStorage"
          >
            View Trip
          </button>
        </BaseModal>
        <section class="mt-[30px] w-[610px]">
          <div class="flex flex-col rounded-[6px] bg-white">
            <div
              class="flex justify-start items-center gap-4 w-[610px] h-[60px] rounded-t-[6px] bg-[#F2C94C]"
            >
              <h4 class="text-dark-gray text-lg font-medium leading-6 pl-6">
                Important information about your booking
              </h4>
            </div>
            <div class="px-10">
              <ol
                class="list-inside list-decimal py-8 text-base leading-6 text-dark-gray"
              >
                <li>
                  This rate is non-refundable. If you change or cancel your
                  booking you will not get a refund or credit to use for a
                  future stay.
                </li>
                <li>Stay extensions will require a new reservation.</li>
                <li>Front desk staff will greet guests on arrival.</li>
                <li>
                  No refunds will be issued for late check-in or early
                  check-out.
                </li>
              </ol>

              <p class="text-gray font-normal text-[14px] leading-5">
                By clicking the button below, I acknowledge that I have reviewed
                the
                <span class="text-light-blue">Privacy Statement</span> and have
                reviewd and accept the
                <span class="text-light-blue">Rules and Restrictions</span> and
                <span class="text-light-blue">Terms of Use.</span>
              </p>

              <DefaultButton
                :text="'Complete Booking'"
                class="mt-6 w-[150px]"
                @click="openModal"
              />

              <div class="flex gap-2 mt-5 mb-[35px]">
                <img
                  src="../../assets//Icons/lock-circle 1.svg"
                  alt="Card Icon"
                />
                <p class="text-gray text-[14px] font-normal leading-5">
                  We use secure transmission and encrypted storage to protect
                  your personal information
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Right Section with Hotel Checkout and Total Price Cards -->
      <div>
        <!-- Hotel Checkout Card Component -->
        <HotelCheckoutCard />

        <!-- Total Price Card Component -->
        <TotalPriceCard />
      </div>
    </div>
  </main>
</template>
  
  <script setup>
import AlertMessage from "../../components/Layout/AlertMessage.vue";
import UserInfoCard from "../CheckoutView/UserInfoCard.vue";
import PaymentCard from "../CheckoutView/PaymentCard.vue";
import BookingInfoCard from "./BookingInfoCard.vue";
import HotelCheckoutCard from "../CheckoutView/HotelCheckoutCard.vue";
import TotalPriceCard from "../CheckoutView/TotalPriceCard.vue";
import DefaultButton from "../../components/Layout/DefaultButton.vue";
import BaseModal from "../../components/Modals/BaseModal.vue";
import { getSearchFields } from "../../helpers/getHotelResults";
import { getHotelDetails } from "../../utils/api";
import { useRoute, useRouter } from "vue-router";
import { getImagePath } from "../../helpers/getPath";
import { ref, onMounted } from "vue";

let router = useRouter();
let route = useRoute();

let hotel_id = route.params.id;
let hotelInformation = ref();

let modalActive = ref(false);
const openModal = () => {
  modalActive.value = true;
};
const closeModal = () => {
  if (modalActive.value === true) {
    modalActive.value = false;
  }
};

const saveTripToLocalStorage = () => {
  let trips = [hotelInformation.value];
  localStorage.setItem("Trips", JSON.stringify(trips));
  router.push({ name: "My Trips" });
};

onMounted(async () => {
  let searchFieldsValue = getSearchFields();
  let { arrival_date, departure_date } = searchFieldsValue;
  let res = await getHotelDetails({ hotel_id, arrival_date, departure_date });
  hotelInformation.value = res.data.data;
});
</script>
  