<template>
  <!-- Hotel Details Section -->
  <section class="mt-[30px]">
    <!-- Container for Hotel Details -->
    <div class="w-[400px] h-fit bg-white rounded-[6px]">
      <!-- Hotel Image -->
      <img src="../../assets/Images/hotel photo.png" alt="" class="w-[400px] h-[200px] rounded-t-[6px]" />

      <!-- Hotel Information -->
      <div class="flex flex-col p-5">
        <!-- Hotel Name -->
        <h1 class="text-lg text-light-black font-medium">
          Lakeside Motel Warefront
        </h1>

        <!-- Hotel Rating -->
        <div class="flex justify-start mt-[10px]">
          <!-- Star Ratings -->
          <figure v-for="numOfRating in rating" :key="numOfRating">
            <img src="../../assets/Icons/star.svg" alt="Star Icon" />
          </figure>

          <!-- Number of Ratings and Reviews -->
          <p class="ml-2 text-[14px] font-normal text-gray leading-5">
            {{ rating }} ({{ 1200 }}) Reviews
          </p>
        </div>

        <!-- Additional Hotel Information -->
        <ul class="mt-[25px]">
          <!-- Non-refundable Note -->
          <li class="text-[#EB5757] text-[14px] font-normal">Non refundable</li>

          <!-- Check-in Date -->
          <li class="text-gray text-[14px] font-normal pt-2">
            Check in: Sunday, March 18, 2022
          </li>

          <!-- Check-out Date -->
          <li class="text-gray text-[14px] font-normal pt-2">
            Check out: Tuesday, March 20, 2022
          </li>

          <!-- Number of Nights Stay -->
          <li class="text-gray text-[14px] font-normal pt-2">2 night stay</li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script setup>
import { ref, onMounted } from 'vue'

// Reactive variable for random rating
let rating = ref();

// Generate a random rating on component mount
onMounted(() => {
  rating.value = Math.floor(Math.random() * 5) + 1;
});
</script>
