<template>
  <section class="mt-[30px] w-[610px]">
    <!-- Payment Options Header -->
    <div class="flex flex-col rounded-[6px] bg-white pb-10">
      <div class="flex justify-start items-center gap-4 w-[610px] h-[60px] rounded-t-[6px] bg-light-blue">
        <img src="../../assets//Icons/card-tick 1.svg" alt="Card Icon" class="pl-5" />
        <h4 class="text-white text-lg font-medium leading-6">Payment options</h4>
      </div>

      <!-- Payment Methods Navigation -->
      <div>
        <ul class="flex flex-wrap px-8 pt-4">
          <li class="me-2">
            <a href="#" class="inline-block pb-2 text-dark-gray border-b-2 border-light-blue rounded-t-lg dark:border-light-blue" aria-current="page">Debit/Credit Card</a>
          </li>
        </ul>
        <hr class="text-light" />
      </div>

      <!-- Card Images -->
      <div class="flex justify-start gap-2 p-8">
        <img src="../../assets/Images/image 6.png" alt="Mastercard" class="bg-light p-2 rounded-[5px]" />
        <img src="../../assets/Images/image 7.png" alt="Visa" class="bg-light p-2 rounded-[5px]" />
        <img src="../../assets/Images/image 10.png" alt="American Express" class="bg-light p-2 rounded-[5px]" />
        <img src="../../assets/Images/image 8.png" alt="Discover" class="bg-light p-2 rounded-[5px]" />
      </div>

      <!-- Card Details Form -->
      <div class="grid grid-cols-1 w-[500px] px-8">
        <!-- Cardholder's Name -->
        <div>
          <label class="block text-light-black text-[14px] font-medium">Name on card</label>
          <div class="flex gap-6">
            <input required type="text" name="card name" class="mt-1 p-2 w-full rounded-md bg-light-gray hover:bg-white border border-light focus:border-light-blue focus:outline-none" />
            <img src="../../assets/Icons/tick-circle 4.svg" alt="Circle Icon" class="-mr-16" />
          </div>
        </div>

        <!-- Card Number -->
        <div class="mt-5">
          <label class="block text-light-black text-[14px] font-medium">Debit/Credit card number</label>
          <div class="flex gap-6">
            <input required type="text" name="card number" class="mt-1 p-2 w-full rounded-md bg-light-gray hover:bg-white border border-light focus:border-light-blue focus:outline-none" />
            <img src="../../assets/Icons/tick-circle 4.svg" alt="Circle Icon" class="-mr-16" />
          </div>
        </div>

        <!-- Expiration Date -->
        <div class="mt-5">
          <label class="block text-light-black text-[14px] font-medium">Expiration Date</label>
          <div class="flex justify-start gap-3">
            <select class="mt-1 w-[150px] border border-light rounded-[6px] p-2 focus:outline-none bg-light-gray hover:bg-white">
              <option value="april">April</option>
            </select>
            <select class="mt-1 w-[150px] border border-light rounded-[6px] p-2 focus:outline-none bg-light-gray hover:bg-white">
              <option value="2023">2023</option>
            </select>
            <img src="../../assets/Icons/tick-circle 4.svg" alt="Circle Icon" />
          </div>
        </div>

        <!-- Security Code and Billing Zip Code -->
        <div class="mt-5 flex gap-x-5">
          <div>
            <label class="block text-light-black text-[14px] font-medium">Security Code</label>
            <input required type="number" name="security code" placeholder="543" class="mt-1 p-2 w-[210px] rounded-md bg-light-gray hover:bg-white border border-light focus:border-light-blue focus:outline-none" />
          </div>
          <div>
            <label class="block text-light-black text-[14px] font-medium">Billing Zip code</label>
            <input required type="number" name="zip code" placeholder="61684485" class="mt-1 p-2 w-[210px] rounded-md bg-light-gray hover:bg-white border border-light focus:border-light-blue focus:outline-none" />
          </div>
          <img src="../../assets/Icons/tick-circle 4.svg" alt="Circle Icon" class="mt-5" />
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
</script>
