<template>
  <!-- Price Details Section -->
  <section class="mt-[30px]">
    <!-- Price Details Container -->
    <div class="w-[400px] h-fit bg-white rounded-[6px]">
      <!-- Price Details Header -->
      <div
        class="flex justify-start items-center gap-4 h-[55px] rounded-t-[6px] bg-[#85E0AB]"
      >
        <h4 class="pl-[18px] text-light-black text-base font-medium leading-6">
          Price Details
        </h4>
      </div>

      <!-- Price Items Loop -->
      <div
        class="flex justify-between items-center h-fit pt-4 px-[18px]"
        v-for="price in priceDetailsArray"
        :key="price.name"
      >
        <!-- Price Item Name -->
        <div class="flex">
          <h4 class="text-gray font-normal text-[14px] leading-5">
            {{ price.name }}
          </h4>
        </div>

        <!-- Price Item Amount -->
        <p class="text-gray text-[14px] font-normal">
          {{ price.price }}
        </p>
      </div>

      <!-- Horizontal Line Separator -->
      <hr class="mt-5 text-light" />

      <!-- Total Amount Section -->
      <div class="flex justify-between items-center h-fit py-5 px-[18px]">
        <!-- Total Label -->
        <h4 class="text-light-black font-semibold text-[16px] leading-5">
          Total
        </h4>

        <!-- Total Amount -->
        <p class="text-dark-gray text-[20px] font-semibold">$130</p>
      </div>
    </div>
  </section>
</template>
  
<script setup>
import { ref } from "vue";

// Price Details Data
let priceDetailsArray = ref([
  {
    name: "1 room X 2 nights",
    price: "$ 120.32",
  },
  {
    name: "Tax and service fees",
    price: "$ 8.32",
  },
]);
</script>
  