<template>
  <!-- Room Information Section -->
  <section class="mt-[30px] w-[610px]">
    <!-- Room Container -->
    <div class="flex flex-col rounded-[6px] bg-white">
      <!-- Room Header -->
      <div
        class="flex justify-start items-center gap-4 w-[610px] h-[60px] rounded-t-[6px] bg-light-blue"
      >
        <!-- Security User Icon -->
        <img
          src="../../assets//Icons/security-user 1.svg"
          alt="Security User Icon"
          class="pl-5"
        />
        <!-- Room Title -->
        <h4 class="text-white text-lg font-medium leading-6">Room 1</h4>
        <!-- Room Details -->
        <p class="text-white text-base font-medium leading-6">
          2 adults, 1 double bed and 1 twin bed, Non-smoking
        </p>
      </div>
      <!-- Room Details Form -->
      <div class="grid grid-cols-1 w-[500px] p-8">
        <!-- Form Row 1: First Name, Last Name -->
        <div class="grid grid-cols-2 justify-start gap-5">
          <!-- First Name Input -->
          <div class="mb-2">
            <label class="block text-light-black text-[14px] font-medium"
              >First Name</label
            >
            <input
              required
              type="text"
              name="first name"
              class="mt-1 p-2 w-full rounded-md bg-light-gray hover:bg-white border border-light focus:border-light-blue focus:outline-none"
            />
          </div>
          <!-- Last Name Input -->
          <div class="mb-2">
            <label class="block text-light-black text-[14px] font-medium"
              >Last Name</label
            >
            <input
              required
              type="text"
              name="last name"
              class="mt-1 p-2 w-full rounded-md bg-light-gray hover:bg-white border border-light focus:border-light-blue focus:outline-none"
            />
          </div>

          <!-- Form Row 2: Mobile Number -->
          <div class="mb-2 relative">
            <label class="block text-light-black text-[14px] font-medium"
              >Mobile Number</label
            >
            <!-- Country Code Select -->
            <select
              class="mt-1 pl-10 w-[120px] border border-light rounded-[6px] p-2 focus:outline-none bg-light-gray hover:bg-white"
            >
              <option value="+61">+61</option>
            </select>
            <!-- Flag Icon -->
            <img
              src="../../assets/Images/flag.png"
              alt="Flag Icon"
              class="absolute top-[32px] left-[12px] w-[24px] h-[24px]"
            />
          </div>
          <!-- Form Row 3: Additional Input -->
          <div class="mb-2">
            <input
              required
              type="text"
              class="mt-6 -ml-14 p-2 w-[265px] rounded-md bg-light-gray hover:bg-white border border-light focus:border-light-blue focus:outline-none"
            />
          </div>
        </div>
        <!-- Form Row 4: Receive Text Alerts -->
        <div class="flex justify-start gap-2 mt-5">
          <input type="checkbox" />
          <p class="text[14px] font-normal text-gray">
            Receive text alerts about this trip.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
</script>

