<template>
  <section v-if="myTrips" class="mx-[205px] py-16">
    <h1 class="text-[#1A1A1A] text-[32px] font-semibold leading-normal mb-7">
      My trips
    </h1>
    <div
      v-for="trip in myTrips"
      :key="trip.hotel_id"
      class="bg-white w-[1030px] rounded-[5px] border border-[#E0E0E0] p-5"
    >
      <div class="flex justify-between gap-10">
        <div class="w-fit h-[200px] flex flex-row bg-white rounded-[6px]">
          <!-- Hotel Image -->
          <div v-for="room in trip.rooms" :key="room.description">
            <img
              :src="room.photos[0].url_max1280"
              alt=""
              class="w-[285px] h-[200px] rounded-[5px]"
            />
          </div>
          <!-- Hotel Information -->
          <div class="flex flex-col pl-6">
            <!-- Hotel Name -->
            <h1 class="text-lg text-light-black font-medium">
              {{ trip.hotel_name }}
            </h1>

            <!-- Hotel Rating -->
            <div class="flex justify-start mt-[10px]">
              <!-- Star Ratings -->
              <figure v-for="numOfRating in 5" :key="numOfRating">
                <img src="../../assets/Icons/star.svg" alt="Star Icon" />
              </figure>

              <!-- Number of Ratings and Reviews -->
              <p class="ml-2 text-[14px] font-normal text-gray leading-5">
                {{ 5 }} ({{ trip.review_nr }}) Reviews
              </p>
            </div>

            <!-- Additional Hotel Information -->
            <ul class="mt-[25px]">
              <!-- Non-refundable Note -->
              <li class="text-[#EB5757] text-[14px] font-normal">
                Non refundable
              </li>

              <!-- Check-in Date -->
              <li class="text-gray text-[14px] font-normal pt-2">
                Check in: Sunday, {{ formatDate(trip.arrival_date) }}
              </li>

              <!-- Check-out Date -->
              <li class="text-gray text-[14px] font-normal pt-2">
                Check out: Tuesday, {{ formatDate(trip.departure_date) }}
              </li>

              <!-- Number of Nights Stay -->
              <li class="text-gray text-[14px] font-normal pt-2">
                {{
                  Math.round(
                    (new Date(trip.departure_date) -
                      new Date(trip.arrival_date)) /
                      (1000 * 60 * 60 * 24)
                  )
                }}
                night stay
              </li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col items-end justify-end">
          <div class="flex w-fit items-center">
            <div>
              <span
                class="text-[14px] font-medium line-through text-right text-[#EB5757] h-[17px] pr-2"
              >
                ${{ strikethroughPrice(trip) }}
              </span>
            </div>
            <div class="text-xl h-6 font-medium text-right">
              ${{ grossPrice(trip) }}
            </div>
          </div>
          <p
            class="text-right font-light text-[#333] text-[14px] h-[17px] pt-[6px]"
          >
            Includes taxes and fees
          </p>
          <DefaultButton :text="'View trip details'" class="mt-4" />
        </div>
      </div>
    </div>
  </section>
  <AlertMessage class="container mx-auto" />

</template>

<script setup>
import AlertMessage from "../../components/Layout/AlertMessage.vue";
import DefaultButton from "../../components/Layout/DefaultButton.vue";
import { useRouter } from "vue-router";
import { computed } from "vue";

let router = useRouter();

let parsedTripsData = JSON.parse(localStorage.getItem("Trips"));
let myTrips = parsedTripsData;

let formatDate = (inputDate) => {
  // Create a Date object from the input string
  const dateObject = new Date(inputDate);

  // Get month name abbreviation
  const monthNames = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ];
  const monthIndex = dateObject.getMonth();
  const monthAbbreviation = monthNames[monthIndex];

  // Get day and year
  const day = dateObject.getDate();
  const year = dateObject.getFullYear();

  // Format the date
  const formattedDate = `${monthAbbreviation} ${day}, ${year}`;

  return formattedDate;
};

let grossPrice = (data) => {
  return Math.round(data.composite_price_breakdown.gross_amount.value);
};

let strikethroughPrice = (data) => {
  return Math.round(
    data.composite_price_breakdown.gross_amount.value +
      data.composite_price_breakdown.excluded_amount.value
  );
};
</script>

