<template>
  <nav class="text-gray-900 p-4">
    <div class="container mx-auto flex items-center justify-between">
      <router-link to="/" class="flex">
        <img
          src="../../assets/Icons/bxs-plane-alt 1.svg"
          alt="logo icon"
          class="pr-2"
        />
        <h2
          class="text-lg font-medium"
          :class="{ 'text-white': $route.name === 'Hotel Results' }"
        >
          My Dream Place
        </h2>
      </router-link>

      <div v-if="showNav">
        <ul class="flex-grow text-center">
          <li
            class="inline-block mx-4 p-2 cursor-pointer"
            :class="{ 'text-white': $route.name === 'Hotel Results' }"
            v-for="link in links"
            :key="link"
          >
            {{ link }}
          </li>
        </ul>
      </div>

      <div v-if="authStore.isAuthenticated && showAvatar">
        <div class="relative">
          <!-- Trigger button -->
          <div class="flex items-center">
            <img
              src="../../assets//Icons/notification 1.svg"
              alt="Notification"
              class="px-4"
            />
            <button @click="toggleDropdown">
              <img src="../../assets//Icons/Ellipse 3.svg" alt="Ellipse" />
            </button>
          </div>

          <!-- Dropdown menu -->
          <div
            v-if="isDropdownOpen"
            class="absolute z-10 w-[200px] right-0 mt-2 bg-white rounded-[10px] shadow-md shadow-light-black"
          >
            <ul class="py-3">
              <li
                class="flex justify-start py-2 px-5 gap-2 hover:bg-light cursor-pointer"
              >
                <img
                  src="../../assets/Icons/user-square 2.svg"
                  alt="User Icon"
                />
                <p class="text-[15px] font-normal text-gray leading-5">
                  Manage account
                </p>
              </li>
              <hr class="text-light" />
              <li
                class="flex justify-start py-2 px-5 gap-2 hover:bg-light cursor-pointer"
                @click="router.push({ name: 'My Trips' })"
              >
                <img
                  src="../../assets/Icons/bxs-plane-take-off 1.svg"
                  alt="Plane Icon"
                />
                <p class="text-[15px] font-normal text-gray leading-5">
                  My trips
                </p>
              </li>
              <hr class="text-light" />
              <li
                class="flex justify-start py-2 px-5 gap-2 hover:bg-light cursor-pointer"
              >
                <img
                  src="../../assets/Icons/wallet-3 1.svg"
                  alt="Wallet Icon"
                />
                <p class="text-[15px] font-normal text-gray leading-5">
                  Reward and wallet
                </p>
              </li>
              <hr class="text-light" />
              <li
                class="flex justify-start py-2 px-5 gap-2 hover:bg-light cursor-pointer"
                @click="isLoggedOut"
              >
                <img src="../../assets/Icons/logout 1.svg" alt="Logout Icon" />
                <p class="text-[15px] font-normal text-gray leading-5">
                  Sign out
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <router-link
        :to="{ name: 'Login' }"
        v-else-if="!authStore.isAuthenticated && showLogin"
      >
        <DefaultButton :text="'Login'" class="px-4" />
      </router-link>
    </div>
  </nav>
</template>
  
<script setup>
import { computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useAuthStore } from "../../stores/authStore";
import DefaultButton from "../../components/Layout/DefaultButton.vue";
import { ref } from "vue";

const isDropdownOpen = ref(false);

const toggleDropdown = () => {
  isDropdownOpen.value = !isDropdownOpen.value;
};

const authStore = useAuthStore();
const route = useRoute();
const router = useRouter();
const links = ["Home", "Discover", "Activities", "About", "Contact"];

const showNav = computed(() => {
  if (route.name !== "Login" && route.name !== "Checkout") {
    return true;
  }
});

const showAvatar = computed(() => {
  return route.name !== "Login";
});

const showLogin = computed(() => {
  return route.name !== "Login";
});

const isLoggedOut = () => {
  authStore.signOut();
  router.push({ name: "Home" });
};
</script>
  