<template>
  <section class="bg-white w-[1030px] h-16 rounded-lg shadow-lg mx-auto">
    <div
      class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6 p-4 space-x-8 text-sm text-gray"
    >
      <SearchSelectInput
        v-model="state.dest_id"
        :error="validationErrors.dest_id"
      />
      <SearchDatePicker
        v-model="state.arrival_date"
        placeholder="Check in date"
        :min-date="tomorrow"
        :max-date="maxCheckInDate"
        :error="validationErrors.arrival_date"
      />
      <SearchDatePicker
        v-model="state.departure_date"
        placeholder="Check out date"
        :min-date="minCheckOutDate"
        :error="validationErrors.departure_date"
      />
      <SearchTextInput
        v-model="state.guests"
        placeholder="Guests"
        srcImg="user-square1.svg"
        alt="User Icon"
        :error="validationErrors.guests"
      />
      <SearchTextInput
        v-model="state.room_qty"
        placeholder="Rooms"
        srcImg="single-bed1.svg"
        alt="Bed Icon"
        :error="validationErrors.room_qty"
      />
      <SearchButton @click="handleSearch" />
    </div>

    <!-- Validation Error Messages -->
    <div
      v-if="validationErrors.general.length"
      class="flex justify-start gap-5 text-sm"
    >
      <p
        v-for="error in validationErrors.general"
        :key="error"
        class="text-sm bg-[#e53e3e] text-white rounded-md p-1 w-[180px]"
      >
        {{ error }}
      </p>
    </div>
  </section>
</template>

<script setup>
import SearchDatePicker from "./SearchDatePickerInput.vue";
import SearchSelectInput from "./SearchSelectInput.vue";
import SearchTextInput from "./SearchTextInput.vue";
import SearchButton from "./SearchButton.vue";
import { ref, computed, reactive, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useAuthStore } from "../../stores/authStore";

const props = defineProps({
  searchHotelResults: Function,
});

const route = useRoute();
const router = useRouter();

const authStore = useAuthStore()

let state = ref({
  dest_id: null,
  arrival_date: null,
  departure_date: null,
  guests: null,
  room_qty: null,
});

let searchFieldsInput = ref({})

let validationErrors = ref({
  dest_id: "",
  arrival_date: "",
  departure_date: "",
  guests: "",
  room_qty: "",
  general: [],
});


let currentDate = ref(new Date());
let tomorrow = new Date(
  currentDate.value.getFullYear(),
  currentDate.value.getMonth(),
  currentDate.value.getDate() + 1
);

const maxCheckInDate = computed(() => state.departure_date || null);

const minCheckOutDate = computed(() => {
  let newArrivalDate =
    state.value.arrival_date &&
    new Date(
      state.value.arrival_date.getFullYear(),
      state.value.arrival_date.getMonth(),
      state.value.arrival_date.getDate() + 1
    );
  return newArrivalDate || tomorrow;
});

const handleSearch = async () => {
  // Clear previous validation errors
  validationErrors.value = {
    dest_id: "",
    arrival_date: "",
    departure_date: "",
    guests: "",
    room_qty: "",
    general: [],
  };

  // Validate destination
  if (!state.value.dest_id) {
    validationErrors.value.dest_id = "Please select a destination.";
    validationErrors.value.general.push("Please select a destination.");
  }

  // Validate arrival date
  if (!state.value.arrival_date) {
    validationErrors.value.arrival_date = "Please select a check-in date.";
    validationErrors.value.general.push("Please select a check-in date.");
  }

  // Validate departure date
  if (!state.value.departure_date) {
    validationErrors.value.departure_date = "Please select a check-out date.";
    validationErrors.value.general.push("Please select a check-out date.");
  }

  // Perform the search only if there are no validation errors
  if (validationErrors.value.general.length === 0) {
     let arrival_date =
       state.value.arrival_date && state.value.arrival_date.toISOString().split("T")[0];
     let departure_date =
       state.value.departure_date && state.value.departure_date.toISOString().split("T")[0];
     let searchFieldsValue = { ...state.value, arrival_date, departure_date, page_number: '1' };
    localStorage.setItem(
      "SearchFieldsValue",
      JSON.stringify(searchFieldsValue)
    );

    if (authStore.isAuthenticated) {
      if (!authStore.isTokenExpired) {
        if (route.name === "Home") {
          router.push({ name: "Hotel Results" });
        } else if (route.name === "Hotel Results") {
          props.searchHotelResults();
        }
      }
    } else {
      router.push({ name: "Login" });
    }
  }
};

onMounted(() => {
  searchFieldsInput = JSON.parse(localStorage.getItem("SearchFieldsValue"));
  if (searchFieldsInput) {
      state.value.dest_id = searchFieldsInput.dest_id;
    if (
      searchFieldsInput.arrival_date &&
      Object.prototype.toString.call(searchFieldsInput.arrival_date) ===
        "[object Date]"
    ) {
      state.value.arrival_date = new Date(searchFieldsInput.arrival_date);
    }

    if (
      searchFieldsInput.departure_date &&
      Object.prototype.toString.call(searchFieldsInput.departure_date) ===
        "[object Date]"
    ) {
      state.value.departure_date = new Date(searchFieldsInput.departure_date);
    }

    state.value.guests = searchFieldsInput.guests;
    state.value.room_qty = searchFieldsInput.room_qty;
    }
  });
</script>

<style scoped>
</style>
