<template>
  <div class="w-[190px]">
    <!-- Listbox component for the dropdown -->
    <Listbox v-model="selectedCity" @change="updateSelectedInput">
      <div class="relative ml-1">
        <!-- ListboxButton is the trigger button for the dropdown -->
        <ListboxButton
          class="relative w-48 -ml-3 cursor-default bg-[#f2f2f2] rounded-md py-2 pl-3 pr-10 text-left focus:outline-none focus-visible:border-light-blue focus-visible:ring-2 focus-visible:ring-white/75 focus-visible:ring-offset-2 focus-visible:ring-offset-light-blue sm:text-sm"
        >
          <!-- Display selected city or default text -->
          <span class="block truncate text-gray">
            {{ selectedCity ? selectedCity.city_name : "Where are you going?" }}
          </span>
          <!-- Dropdown arrow icon -->
          <span
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
          >
            <img src="../../assets//Icons/arrow-down 1.svg" />
          </span>
        </ListboxButton>

        <!-- Dropdown options container with transition -->
        <transition
          leave-active-class="transition duration-100 ease-in"
          leave-from-class="opacity-100"
          leave-to-class="opacity-0"
        >
          <!-- ListboxOptions contains the dropdown options -->
          <ListboxOptions
            class="absolute mt-2 -ml-3 max-h-60 w-full overflow-auto rounded-[10px] bg-white py-1 text-base shadow-lg ring-1 ring-black/5 focus:outline-none sm:text-sm"
          >
            <!-- ListboxOption represents each dropdown option -->
            <ListboxOption
              v-for="city in cities"
              :key="city.dest_id"
              :value="city"
              as="template"
            >
              <li
                :class="[
                  city === selectedCity
                    ? 'bg-blue-200 text-light-black'
                    : 'text-gray-900',
                  'relative cursor-default select-none py-[10px] pl-3 pr-4 flex justify-center border border-r-0 border-l-0 border-t-0 border-light-gray',
                ]"
                @click="updateSelectedInput(city)"
              >
                <!-- Display the city name in the dropdown option -->
                <span
                  :class="[
                    city === selectedCity ? 'font-medium' : 'font-normal',
                    'block truncate',
                  ]"
                >
                  {{ city.city_name }}
                </span>
              </li>
            </ListboxOption>
          </ListboxOptions>
        </transition>
      </div>
    </Listbox>
  </div>
</template>

<script setup>
import { ref, onMounted, defineProps, defineEmits } from "vue";
import { searchHotelDestination } from "../../utils/api";
import {
  Listbox,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";

const props = defineProps({
  modelValue: String,
});

const emits = defineEmits(["update:modelValue"]);

const cities = ref([]);
const selectedCity = ref(null);

const getCities = () => {
  // Fetch cities from the API when the component is mounted
  searchHotelDestination().then((res) => {
    const citiesList = res.data.data;
    const filteredCities = citiesList.filter(
      (city) => city.search_type === "city"
    );
    cities.value = filteredCities;
  });
};

const updateSelectedInput = (city) => {
  // Update the selectedCity ref and emit the event with the selected city ID
  selectedCity.value = city;
  emits("update:modelValue", city.dest_id);
};

// Fetch cities when the component is mounted
onMounted(() => {
  getCities();
});
</script>
