<template>
  <div>
    <Navbar />
    <main :class="`${mainSectionStyling}`">
      <router-view />
    </main>
    <Footer v-if="!['Login', 'Checkout'].includes(route.name)" :class="`${footerSectionStyling}`"/>
  </div>
</template>

<script setup>
import Navbar from "./components/Layout/Navbar.vue";
import Footer from "./components/Layout/Footer.vue";
import { computed } from 'vue'
import { useRoute } from "vue-router";

let route = useRoute();

let mainSectionStyling = computed(() => {
  if (["Home", "Login"].includes(route.name)) {
    return "bg-[#FFF]";
  } else if(["Hotel Details", "Checkout", "My Trips"].includes(route.name)) {
    return "bg-[#F4F4F4]";
  }
});
let footerSectionStyling = computed(() => {
  if (
    route.name === "Home" ||
    route.name === "Login" ||
    route.name === "Hotel Results"
  ) {
    return "bg-[#FFF]";
  }
  return "bg-[#F4F4F4]";
});
</script>

