<template>
  <template v-if="isPhotosLoading">
    <!-- Loading Spinner until data retrieved from api -->
    <div class="flex items-center justify-center my-20">
      <LoadingSpinner />
    </div>
  </template>
  <template v-if="hotelInformation">
    <!-- Hotel Photos Section -->

    <main class="container mx-auto pt-4">
      <section class="w-[1240px] mt-6 mb-6 flex gap-4">
        <div>
          <div
            class="w-[660px] h-full rounded-[5px] bg-cover bg-center bg-no-repeat"
            :style="{
              backgroundImage: `url('${imagesArray[1].url_max1280}')`,
            }"
          ></div>
        </div>
        <div class="flex flex-col justify-between gap-4">
          <div
            class="w-[400px] h-[218px] rounded-[5px] grayscale-[40%] bg-cover bg-center bg-no-repeat"
            :style="{
              backgroundImage: `url('${imagesArray[2].url_640x200}')`,
            }"
          ></div>
          <div
            class="w-[400px] h-[218px] rounded-[5px] grayscale-[40%] bg-cover bg-center bg-no-repeat"
            :style="{
              backgroundImage: `url('${imagesArray[3].url_640x200}')`,
            }"
          ></div>
        </div>
      </section>

      <!-- Tabs Section -->

      <section class="w-full h-[48px] bg-white shadow-sm shadow-[#E0E0E0]">
        <ul class="flex flex-wrap -mb-px">
          <li class="me-2">
            <a
              href="#"
              class="inline-block py-3 px-6 text-dark-gray border-b-2 border-light-blue rounded-t-lg dark:border-light-blue"
              aria-current="page"
              >Overview</a
            >
          </li>
          <li class="me-2">
            <a
              href="#"
              class="inline-block py-3 px-6 text-dark-gray border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-light-blue"
              >Rooms</a
            >
          </li>
        </ul>
      </section>

      <!-- Overview Section -->
      <section class="mt-10 flex gap-7">
        <!--Left side of hotel details -->
        <div class="flex flex-col">
          <h1 class="text-[32px] font-semibold text-[#1A1A1A]">
            {{ hotelInformation?.hotel_name }}
          </h1>

          <div class="flex justify-start mt-1">
            <figure v-for="rating in ratingNumber" :key="rating">
              <img src="../../assets/Icons/star.svg" alt="Star Icon" />
            </figure>
            <p class="ml-2 text-[14px] font-normal text-gray leading-5">
              {{ ratingNumber }} ({{ hotelInformation?.review_nr }}) Reviews
            </p>
          </div>

          <div class="flex justify-start mt-3">
            <img src="../../assets/Icons/location 2.svg" alt="Location Icon" />
            <p class="ml-2 text-[14px] font-normal text-gray leading-5">
              {{ hotelInformation?.address }}
            </p>
          </div>

          <div
            class="h-fit w-full flex flex-col divide-[#E0E0E0] justify-between bg-white mt-8 rounded-[6px] mb-10"
          >
            <div class="w-fit h-full pt-6 pl-8 mt-5 mb-11 leading-6 pr-10">
              <h2 class="text-light-black text-lg font-semibold leading-normal">
                Overview
              </h2>
              <p class="text-[#4F4F4F] text-[16px] font-normal mt-5">
                {{
                  hotelDescription?.[0].description ||
                  hotelDescription?.[1].description ||
                  "There’s no description for that hotel"
                }}
              </p>
            </div>
            <hr />
            <div class="w-fit h-full pt-6 pl-8 mt-5 mb-11 leading-6 pr-10">
              <h2 class="text-light-black text-lg font-semibold leading-normal">
                Top facilities
              </h2>
              <div class="grid grid-cols-2 gap-x-20 gap-y-3 mt-6">
                <div
                  class="flex justify-start items-center h-3 mb-3"
                  v-for="topFacility in hotelInformation.facilities_block
                    .facilities"
                  :key="topFacility.icon"
                >
                  <img
                    src="../../assets/Icons/check.svg"
                    :alt="topFacility.icon"
                    class="mr-3"
                  />
                  <h4 class="text-gray font-normal text-[15px] leading-5">
                    {{ topFacility?.name }}
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Right side of hotel details -->
        <div class="flex flex-col">
          <iframe
            width="400"
            height="240"
            frameborder="0"
            class="rounded"
            allowfullscreen
            :src="mapUrl"
          ></iframe>

          <div class="flex flex-col mt-9">
            <h2 class="text-lg font-medium text-light-black">
              Explore the area
            </h2>
            <div class="grid grid-cols-1 gap-2 mt-[22px]">
              <div
                class="flex justify-between items-center h-3 mb-3"
                v-for="area in hotelsInLocationArea"
                :key="area.name"
              >
                <div class="flex">
                  <img
                    src="../../assets/Icons/location 1.svg"
                    alt="Location Icon"
                    class="mr-2"
                  />
                  <h4 class="text-gray font-normal text-[15px] leading-5">
                    {{ area.name }}
                  </h4>
                </div>
                <p class="text-gray text-[14px] font-normal">
                  {{ area.time }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Available Rooms Section-->
      <section class="mt-10">
        <h2 class="text-2xl font-semibold text-light-black">Available rooms</h2>
        <div class="flex flex-row gap-4 mt-8">
          <div
            class="bg-gradient-to-b from-[#4796FF] to-[#2366BF] w-[400px] h-[340px] rounded-[6px] relative"
          >
            <div class="absolute top-[74px] left-7">
              <div class="flex justify-start gap-1">
                <img
                  src="../../assets/Icons/bxs-plane-alt 1.svg"
                  alt="Logo Icon"
                />
                <p class="text-lg font-medium text-white">My Dream Place</p>
              </div>
              <h3 class="font-bold text-2xl text-white pt-[30px]">
                20% off <br />
                Use Promotional <br />
                Coupon Code: <br />
                <span class="text-[#FFD723]">Orlando</span>
              </h3>
            </div>
            <img
              src="../../assets/Images/Frame.png"
              alt="guest"
              class="absolute top-9 right-16 w-44 h-72 z-10"
            />
          </div>
          <div
            v-for="photo in suitePhotos"
            :key="photo"
            class="w-[400px] h-fit bg-white rounded-[6px]"
          >
            <img
              :src="photo"
              alt=""
              class="w-[400px] h-[200px] rounded-t-[6px]"
            />
            <div class="flex flex-col p-5">
              <h1 class="text-[22px] text-[#1A1A1A] font-medium">
                Standard twin ben, Multiple beds
              </h1>
              <ul class="mt-[18px] flex flex-col gap-3">
                <li class="flex justify-start gap-3">
                  <img src="../../assets/Icons/bag-tick-2 1.svg" />
                  <p class="text[14px] text-gray font-normal">300 sq ft</p>
                </li>
                <li class="flex justify-start gap-3">
                  <img src="../../assets/Icons/bag-tick-2 1.svg" />
                  <p class="text[14px] text-gray font-normal">Sleeps 3</p>
                </li>
                <li class="flex justify-start gap-3">
                  <img src="../../assets/Icons/bag-tick-2 1.svg" />
                  <p class="text[14px] text-gray font-normal">
                    1 double bed and 1 twin bed
                  </p>
                </li>
              </ul>
              <DefaultButton
                :text="'Reserve suite'"
                class="mt-6"
                @click="
                  router.push({
                    name: 'Checkout',
                    params: {id: hotel_id}
                  })
                "
              />
            </div>
          </div>
        </div>
      </section>

      <AlertMessage class="mt-44" />
    </main>
  </template>
</template>

<script setup>
import { computed, onMounted, ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { getSearchFields } from "../../helpers/getHotelResults";
import { getHotelDetails, getDescriptionAndInfo } from "../../utils/api";
import LoadingSpinner from "../../components/Layout/LoadingSpinner.vue";
import DefaultButton from "../../components/Layout/DefaultButton.vue";
import AlertMessage from "../../components/Layout/AlertMessage.vue";

const hotelsInLocationArea = ref([
  { name: "Hotel Penselvenyia", time: "2 minutes" },
  { name: "Travis Bakery store house", time: "10 minutes " },
  { name: "Olivia Johnson Garden", time: "15 minutes " },
  { name: "Norman Opera Circus", time: "18 minutes " },
  { name: "Rockdeset hotel", time: "32 minutes " },
]);

let route = useRoute();
let router = useRouter();
let hotelDescription = ref(null);
let hotelInformation = ref(null);
let hotel_id = ref();

let ratingNumber = ref();

let isPhotosLoading = ref(false);

let longitude = ref();
let latitude = ref();
let mapUrl = ref(`//maps.google.com/maps?q=${latitude},${longitude}&z=15&output=embed`);

let imagesArray = computed(() => {
  let rooms = hotelInformation.value.rooms;
  let roomsValue = Object.values(rooms)[0];
  return roomsValue.photos;
});

let firstSuitePhoto = computed(() => {
  return imagesArray.value[0].url_max300;
});
let secondSuitePhoto = computed(() => {
  return imagesArray.value[1].url_max300;
});

let suitePhotos = computed(() => [
  firstSuitePhoto.value,
  secondSuitePhoto.value,
]);

const getHotelDetailsAndInfo = async () => {
  isPhotosLoading.value = true;
  hotel_id.value = route.params.id;
  let searchFieldsValue = getSearchFields();
  let { arrival_date, departure_date, guests, room_qty } = searchFieldsValue;
  if (!(guests && room_qty)) {
    let res = await getHotelDetails({
      hotel_id: hotel_id.value,
      arrival_date,
      departure_date,
    });
    hotelInformation.value = res.data.data;
  } else {
    let res = await getHotelDetails({
      hotel_id: hotel_id.value,
      arrival_date,
      departure_date,
      guests,
      room_qty,
    });
    hotelInformation.value = res.data.data;
  }

  let res = await getDescriptionAndInfo({ hotel_id: hotel_id.value });
  hotelDescription.value = res.data.data;

  isPhotosLoading.value = false;
};

onMounted(() => {
  getHotelDetailsAndInfo();
  ratingNumber.value = Math.floor(Math.random() * 5) + 1;
  latitude.value = hotelInformation.latitude;
  longitude.value = hotelInformation.longitude;
});
</script>

