<template>
  <div class="relative flex items-center">
    <img
      :src="getIconPath(props.srcImg)"
      :alt="props.alt"
      class="absolute ml-2 pointer-events-none"
    />
    <input
      type="text"
      :placeholder="props.placeholder"
      :value="modelValue"
      @input="searchInputValueByName"
      class="w-full text-[14px] pl-8 py-2 text-gray rounded bg-white border border-light focus:border-light-blue focus:outline-none"
    />
  </div>
</template>
  
<script setup>
import { getIconPath } from "../../helpers/getPath";

const props = defineProps({
  modelValue: String,
  placeholder: String,
  srcImg: String,
  alt: String,
});

const emits = defineEmits(["update:modelValue"]);

const searchInputValueByName = (e) => {
  emits("update:modelValue", e.target.value);
};
</script>
  