<template>
  <section
    class="w-full rounded-r-[6px] rounded-l-[6px] border border-light-gray bg-white"
  >
    <div class="bg-light p-[18px]">
      <h1 class="font-medium text-lg">Rating</h1>
    </div>

    <section class="space-y-[14px] p-[18px]">
      <p class="font-normal text-[14px] text-gray">
        Show only ratings more than
      </p>
      <div class="w-[250px] h-[46px] rounded-[5px] flex">
        <button
          v-for="ratingNumber in 5"
          :key="ratingNumber"
          @click="handleScoreRatingChange(ratingNumber)"
          class="flex justify-center items-center border-[#E0E0E0] border-[1px] w-[48px] h-[46px]"
          :class="{
            'bg-gray-100': selectedScoreRating === ratingNumber,
            'rounded-l-md': ratingNumber === 1,
            'rounded-r-md': ratingNumber === 5,
          }"
        >
           {{ ratingNumber }}
          <img
            class="w-5 h-5"
            src="../../assets//Icons/star.svg"
            alt="Star Icon"
          />
        </button>
      </div>
    </section>
  </section>
</template>
    
<script setup>
import { ref } from 'vue'

const props = defineProps({
  modelValue: Number,
});

const emits = defineEmits(["update:modelValue"]);

const selectedScoreRating = ref(0);

const handleScoreRatingChange = (value) => {
  selectedScoreRating.value = selectedScoreRating.value === value ? 0 : value;
  emits('update:modelValue', selectedScoreRating.value);
};
</script>
  
