<template>
  <header class="relative -top-20 -z-10">
    <div
      class="w-full h-[200px] bg-gradient-to-b from-[#2969BF] to-[#144E9D]"
    ></div>
  </header>

  <Search class="relative -top-28" :searchHotelResults="searchHotelResults" />

  <main
    class="container mx-auto flex flex-col justify-between gap-8 px-4 lg:flex-row lg:px-24"
  >
    <aside class="flex flex-col gap-6 w-1/4">
      <div class="w-full rounded-md bg-light p-5">
        <h4 class="mb-4 text-base font-medium text-light-black">
          Search by property name
        </h4>
        <FilterByName
          v-model="filterByHotelName"
          placeholder="eg. Beach westpalm"
          srcImg="search 1.svg"
          alt="Search Icon"
        />
      </div>
      <div class="w-full">
        <h4 class="mb-4 text-lg font-semibold text-dark-gray">Filter by</h4>
        <FilterByPrice :isDataUpdated="isDataUpdated" />
      </div>

      <FilterByRating v-model="filterByRating" />
    </aside>

    <div class="w-3/4">
      <div class="flex items-start justify-between">
        <h2
          class="font-semibold text-light-black text-2xl"
          v-if="isHotelResultsLoading"
        >
          Loading...
        </h2>
        <h2 v-else-if="!hotelResultsData && !searchByName" class="font-semibold text-light-black text-2xl">
           No hotels found in that page  
        </h2>
        <h2 class="font-semibold text-light-black text-2xl" v-else>
          {{ hotelResultsData[0] && hotelResultsData[0].property.wishlistName }}
          : {{ metaResultsData[0] && numOfProperties }} search results found
        </h2>
        <div
          class="w-[190px] space-y-0 rounded-[6px] border border-[#BDBDBD] px-3 py-1 pr-0 focus-within:border-light-blue"
        >
          <label for="sortBy" class="block text-sm font-medium text-gray">
            Sort by
          </label>
          <SortByOptions :isDataUpdated="isDataUpdated" />
        </div>
      </div>

      <div
        v-if="isHotelResultsLoading"
        class="flex items-center justify-center my-20"
      >
        <LoadingSpinnerVue />
      </div>

      <div v-else>
        <section v-if="searchByRating.length">
          <HotelCard
            v-for="hotel in searchByRating"
            :key="hotel.hotel_id"
            :hotel="hotel"
          />
        </section>
        <section v-if="!searchByName.length">
          <HotelCard
            v-for="hotel in hotelResultsData"
            :key="hotel.hotel_id"
            :hotel="hotel"
          />
        </section>
        <section v-else>
          <HotelCard
            v-for="hotel in searchByName"
            :key="hotel.hotel_id"
            :hotel="hotel"
          />
        </section>
      </div>
      <HotelPagination
          v-if="!isHotelResultsLoading"
          :assignCurrentPage="assignCurrentPage"
          :currentPage="currentPage"
          :numOfTotalPages="numOfTotalPages"
          :isDataUpdated="isDataUpdated"
        />
    </div>
  </main>
  <section class="container mt-24">
    <AlertMessage />
  </section>
</template>

<script setup>
import Search from "../../components/Search/Search.vue";
import FilterByName from "./FilterByName.vue";
import FilterByPrice from "./FilterByPrice.vue";
import FilterByRating from "./FilterByRating.vue";
import SortByOptions from "./SortByOptions.vue";
import HotelPagination from "./HotelPagination.vue";
import HotelCard from "../../views/HotelsView/HotelCard.vue";
import LoadingSpinnerVue from "../../components/Layout/LoadingSpinner.vue";
import AlertMessage from "../../components/Layout/AlertMessage.vue";
import { searchHotels } from "../../utils/api";
import { onMounted, ref, watch, computed } from "vue";
import { useRouter } from "vue-router";

let router = useRouter();

let setDataUpdated = ref(false);
let isDataUpdated = () => (setDataUpdated.value = true);

let isHotelResultsLoading = ref(false);

let searchFields = ref({});
let currentPage = ref();

let assignCurrentPage = (numOfPage) => {
  currentPage.value = numOfPage;
};

let hotelResultsData = ref([]);
let metaResultsData = ref([]);
let showError = ref();

let filterByHotelName = ref("");
let filterByRating = ref()

let numOfProperties = computed(() => {
  return (
    metaResultsData.value?.[0]?.title &&
    parseInt(metaResultsData.value[0].title.match(/\d+/)[0], 10)
  );
});

let numOfTotalPages = computed(() => {
  return (numOfProperties?.value && Math.ceil(numOfProperties / 20) || 10);
});

const searchByName = computed(() => {
  let filteredResults = [];

  if (filterByHotelName.value) {
    filteredResults = hotelResultsData.value;
    filteredResults = filteredResults.filter((hotel) => {
      return hotel.property.name.toLowerCase().includes(filterByHotelName.value.toLowerCase());
    });
  }

  return filteredResults;
});


const searchByRating = computed(() => {
  let filteredResults = [];

  if (filterByRating.value) {
    filteredResults = hotelResultsData.value;
    filteredResults = filteredResults.filter((hotel) => {
      return Math.round(hotel.property.reviewScore / 2) >= filterByRating.value
    });
  }

  return filteredResults;
})

const searchHotelResults = async () => {
  isHotelResultsLoading.value = true;
  searchFields = JSON.parse(localStorage.getItem("SearchFieldsValue"));
  try {
    let res = await searchHotels(searchFields);
    let data = await res.data;
    hotelResultsData.value = data.data.hotels;
    metaResultsData.value = data.data.meta;
  } catch (err) {
    showError.value = err;
  } finally {
    isHotelResultsLoading.value = false;
  }
};

onMounted(() => {
  searchHotelResults();
  searchFields.value = JSON.parse(localStorage.getItem("SearchFieldsValue"));
  currentPage.value = parseInt(searchFields.value.page_number) || 1;
});

watch(setDataUpdated, () => {
  if (setDataUpdated.value === true) {
    searchHotelResults();

    setDataUpdated.value = false;
  }
});
</script>