<template>
  <div class="w-full border border-light-gray rounded-[5px] mt-6">
    <div class="flex flex-row justify-between p-5 gap-5">
      <figure class="rounded-[5px] w-[285px] h-[200px]">
        <img
          :src="hotel.property.photoUrls[0]"
          alt=""
          class="w-full h-full rounded-[5px]"
        />
      </figure>
      <div class="flex flex-col w-[550px] h-[200px]">
        <div class="flex flex-row justify-between items-center h-[32px]">
          <h2
            class="text-[#1A1A1A] text-[20px] font-medium leading-normal w-fit max-w-[350px]"
          >
            {{ hotel.property.name }}
          </h2>
          <p
            v-if="strikethroughPrice(hotel) && benefitBadges(hotel) !== ''"
            class="inline-flex justify-center text-[13px] font-medium leading-[18px] text-white bg-[#EB5757] rounded-[6px] px-2 py-1 items-center"
          >
            {{ benefitBadges(hotel) }}
          </p>
        </div>

        <div class="flex flex-start mt-3">
          <figure v-for="count in reviewScore(hotel)" :key="count">
            <img src="../../assets/Icons/star.svg" alt="Star Review" />
          </figure>
          <p class="text-[14px] font-normal text-gray w-[120px] h-5 pl-2">
            {{ reviewScore(hotel) }} ({{ reviewCount(hotel) }} Reviews)
          </p>
        </div>

        <div class="flex justify-between mt-[17px]">
          <div class="flex flex-col justify-between text-[13px] text-gray">
            <h2 class="font-semibold text-lg w-[380px] h-[18px]">
              {{ reviewScoreWord(hotel) || "Good" }}
            </h2>
            <p class="w-[380px] h-[36px] font-normal pt-2 leading-[19px]">
              {{ accessibilityLabel(hotel) }}
            </p>
          </div>
          <div
            v-if="calacDiscount(hotel) !== 0"
            class="h-[26px] inline-flex items-center py-1 px-2 justify-center gap-[10px] rounded-[6px] bg-[#219653] text-white font-medium text-sm leading-[18px]"
          >
            {{ calacDiscount(hotel) }}% off
          </div>
        </div>

        <div class="flex justify-between mt-[18px]">
          <button
            class="w-fit rounded-[6px] text-[15px] bg-light-blue text-white font-medium leading-5 px-[18px] py-[10px]"
            @click="
              router.push({
                name: 'Hotel Details',
                params: { id: hotel.hotel_id },
              })
            "
          >
            See availability
          </button>
          <div class="flex flex-col items-end">
            <div
              :class="`flex w-fit items-center ${
                strikethroughPrice(hotel) === 0
                  ? 'justify-end'
                  : 'justify-between'
              }`"
            >
              <div v-if="strikethroughPrice(hotel) !== 0">
                <span
                  class="text-[14px] font-medium line-through text-right text-[#EB5757] h-[17px] pr-2"
                >
                  ${{ strikethroughPrice(hotel) }}
                </span>
              </div>
              <div class="text-xl h-6 font-medium text-right">
                ${{ grossPrice(hotel) }}
              </div>
            </div>
            <p
              class="text-right font-light text-[#333] text-[14px] h-[17px] pt-[6px]"
            >
              Includes taxes and fees
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRouter } from 'vue-router'

let router = useRouter()

let accessibilityLabel = (data) => {
  let descriptionLabel = data.accessibilityLabel.split(".").join(" ");
  return descriptionLabel.length > 130
    ? descriptionLabel.substring(0, 130) + "...."
    : descriptionLabel;
};

// information about hotel prices
let grossPrice = (data) =>
  Math.ceil(data.property.priceBreakdown.grossPrice.value);

let strikethroughPrice = (data) => {
  if (data.property.priceBreakdown.strikethroughPrice) {
    return Math.round(data.property.priceBreakdown.strikethroughPrice.value);
  } else {
    return 0;
  }
};

let benefitBadges = (data) => {
  return data.property.priceBreakdown.benefitBadges.length
    ? data.property.priceBreakdown.benefitBadges[0].text
    : "";
};

let calacDiscount = (data) =>
  strikethroughPrice(data) !== 0 ? Math.round(((strikethroughPrice(data) - grossPrice(data)) /strikethroughPrice(data)) * 100): 0;

// information about hotel reviews
let reviewCount = (data) => data.property.reviewCount;
let reviewScore = (data) => Math.round(data.property.reviewScore / 2);
let reviewScoreWord = (data) => data.property.reviewScoreWord;

const props = defineProps({
  hotel: Object,
});
</script>
